<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'reviews/home.css' %}"> 
</head>
<body>
	<div class="topnav">
		<a class="active" href="#home">Home</a>
		<a href="#news">News</a>
		<a href="#contact">Contact</a>
		<a href="#about">About</a>
		<a href="#profile" id="profileLink">{{username}}</a>
	</div>
	<div>
		<h1>Login Landing Page (Home)</h1>
		<h2> Welcome {{username}}!</h2>
		<h3>Your Past Reviews</h3>
		<ul id="reviewList">
			{% for review in reviews %}
			<li>
				<div class="wrapper">
					<div class="box reviewHeader">{{review.reviewerName}}'s review of {{review.className}}		
					</div>
					<div class="box reviewSidebar">
						<ul>
							<li>{{review.school}}</li>
							<li>{{review.courseSubject}} {{review.courseNum}}</li>
							<li>{{review.termTaken}}</li>
						</ul>
					</div>
					<div class="box reviewContent">
						{{review.review}}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</body>
	</html>

