<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'reviews/home.css' %}"> 
	</head>
	<body>
		<div>
			<h1>Login Landing Page (Home)</h1>
			<h2> Welcome {{username}}!</h2>
			<ul>
				{% for review in reviews %}
				<li>
					<div class="review">
						<div class="wrapper">
							<div class="box header">{{review.reviewerName}}'s review of {{review.className}}</div>
							<div class="box sidebar">Sidebar</div>
							<div class="box content">{{review.review}}</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
	</body>
</html>